<h1>Editing Restaurant</h1>
<% if @restaurant.image.file.nil? %> 
<% else %>
  <%= image_tag @restaurant.image_url, class:"img-rounded", id:"logo" %>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @restaurant, class:"btn btn-link" %> |
<%= link_to 'Back', restaurants_path, class:"btn btn-link" %>
